




@font-face {
	font-family: 'FuturaDemiC';
	src: local('../fonts/Futura Demi Cyrillic'), local('../fonts/FuturaDemiC'),
		url('../fonts/FuturaDemiC.woff') format('woff'),
		url('../fonts/FuturaDemiC.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'FuturaMediumC';
	src: local('../fonts/Futura Medium Cyrillic'), local('../fonts/FuturaMediumC'),
		url('../fonts/FuturaMediumC.woff') format('woff'),
		url('../fonts/FuturaMediumC.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'FuturaLightC';
	src: local('../fonts/Futura Light Italic Cyrillic'), local('../fonts/FuturaLightC-Italic'),
		url('../fonts/FuturaLightC-Italic.woff') format('woff'),
		url('../fonts/FuturaLightC-Italic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'FuturaMediumC';
	src: local('../fonts/Futura Medium Italic Cyrillic'), local('../fonts/FuturaMediumC-Italic'),
		url('../fonts/FuturaMediumC-Italic.woff') format('woff'),
		url('../fonts/FuturaMediumC-Italic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'FuturaLightC';
	src: local('../fonts/Futura Light Cyrillic'), local('../fonts/FuturaLightC'),
		url('../fonts/FuturaLightC.woff') format('woff'),
		url('../fonts/FuturaLightC.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'FuturaDemiC';
	src: local('../fonts/Futura Demi Italic Cyrillic'), local('../fonts/FuturaDemiC-Italic'),
		url('../fonts/FuturaDemiC-Italic.woff') format('woff'),
		url('../fonts/FuturaDemiC-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'FuturaBookC';
	src: local('../fonts/Futura Book Italic Cyrillic'), local('../fonts/FuturaBookC-Italic'),
		url('../fonts/FuturaBookC-Italic.woff') format('woff'),
		url('../fonts/FuturaBookC-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'FuturaBookC';
	src: local('../fonts/Futura Book Cyrillic'), local('../fonts/FuturaBookC'),
		url('../fonts/FuturaBookC.woff') format('woff'),
		url('FuturaBookC.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.alert.alert-danger {
    border-radius: 0;
    background: transparent;
    color: #ea0e0e;
    border-color: #ea0e0e;
    text-align: center;
    margin: 50px 0 5px;
}
.form-control {
  /* стили для bootstrap input */
    color: rgb(51, 63, 72);
    border: 1px solid rgb(196, 196, 196);
    border-radius: 0px;
    font-size: 16px;
    line-height: 35px;
    color: #333;
}

.form-control:focus, .form-check-input:focus {
    outline: none;
    border-color: rgb(196, 196, 196);
    box-shadow: none;
}
/* Стиль для placeholder */
.form-control::placeholder {
    color:  rgb(196, 196, 196);
}
.form-label, .form-check-label {
    font-size: 16px;
    line-height: 16px;
    color: rgb(51, 63, 72);
    font-weight: 700;
    display: inline-block;
}
.form-check .form-check-label {
    font-weight: 400;
}
/* Стиль для активного чекбокса */
.form-check input[type="radio"]:checked + .form-check-label {
    font-weight: 700;
}
.form-check-label {
    line-height: 25px;
    transition: color 0.3s ease, font-weight 0.3s ease;
}
.check-box .form-check-label {
    line-height: 40px;
    padding-left: 10px;
}
.offcanvas-body button.btn {
    width: 100%;
}
.form-check-input[type="radio"]:not(:checked) {
    background-color: #e7e7e7;
    border-color: #ddd;
}
.form-check-input[type="checkbox"] {
    border: 2px solid rgb(196, 196, 196);
    border-radius: 0;
    width: 30px;
    height: 30px;
}
.form-check-input:checked[type="checkbox"] {
    background-color: #fff;
    --bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23444' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
}
.offcanvas-body, .offcanvas-header {
    padding: 0px 55px 30px 45px;
}
.offcanvas-header {
    padding-top: 15px;
}
.success-message {
    position: absolute;
    top: 40%;
    width: 700px;
    left: calc(50% - 350px);
    padding: 50px;
    font-size: 20px;
}
.btn-close:focus {
    box-shadow: none;
    border: none;
}

p {
    font-family: 'FuturaMediumC', sans-serif;
}
a, .btn.btn-link, .btn.btn-link:focus {
    color: inherit;
    font-size: 16px;
    font-weight: bold;
}
h1.futura-book-с {
    font-family: 'FuturaBookC', sans-serif;
    font-weight: bold;
    letter-spacing: -0.7px;
}
h1.futura-demic {
    font-family: 'FuturaDemiC', sans-serif;
    letter-spacing: -0.6px;
}
h1.futura-light-c {
    font-family: 'FuturaLightC', sans-serif;
    letter-spacing: -0.6px;
}
h1.futura-medium-c {
    font-family: 'FuturaMediumC', sans-serif;
    letter-spacing: -0.6px;
    font-weight: bold;
}
h1 {
    font-size: 30px;
}
body, .offcanvas {
    background-color: #f3f3f3;
}
body, .offcanvas {
    color:#333f48;
    font-family: 'FuturaBookC', sans-serif;
}
.top {
    padding-top: 100px;
    height: 100vh;
}
img {
    width: 100%;
}
button.clear {
    background: transparent;
    border: none;
}
.error-message {
    position: absolute;
    color: red;
    left: 0;
}
#successOrderCreated {
    color: green;
    position: absolute;
    top: -30px;
}
.text-gigantic {
    font-size: 70px;
    font-family: 'FuturaMediumC', sans-serif;
    letter-spacing: -2.4px;
}
.position-top-panel {
    position: absolute;
    width: 100%;
}
.top-panel {
    width: calc(100% - 100px);
    margin: auto;
    margin-bottom: 35px;
}
.logo {
    margin-top: 20px;
    width: 350px;
}

.fullwidth,  .container.fullwidth{
    max-width: 100%;
    padding-left: 50px;
    padding-right: 50px;
}
.user-click {
    width: 60px;
    height: 60px;
    padding: 0;
    border-radius: 50%;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
    overflow: hidden;
}
.user-click .cls-4 {
    fill: #333f48;
    fill-opacity: 1;
}
.user-click .cls-5, .user-click .cls-6 {
    fill: none;
    stroke: #fff;
    stroke-width: 2px;
}
.absolute-input {
    position: absolute;
    top: 10px;
    right: 20px;
}
.absolute-input > ul {
    padding: 15px 0 30px;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
    width: 265px;
}
.absolute-input > ul p {
    font-size: 14px;
    line-height: 9px;
    font-weight: 700;
    margin: 0;
    padding: 10px 0 0 20px;
    color: #333;
}
.absolute-input .dropdown-item {
    margin-top: 4px;
    padding: 0 20px;
    color: #8f8f8f;
    font-size: 12px;
    font-weight: 400;
    -webkit-transition: color .3s ease;
    -o-transition: color .3s ease;
    transition: color .3s ease;
}
.absolute-input .dropdown-item:hover {
    color: #333;
}
.btn.dropdown-item:focus {
    font-size: 12px;
    font-weight: 400;
}

.absolute-input ul li h3 {
    padding: 20px 20px 0;
    margin-bottom: 8px;
    color: #8f8f8f;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
}

.user-name {
    display: inline-block;
    width: 84%;
}
.user-logout {
    display: inline-block;
}

.headerLine {
    display: block;
    width: calc(100% - 40px);
    height: 1px;
    border-bottom: 1px solid rgba(0,0,0,.2);
    margin: 15px 20px 0;
}
.text-intro {
    line-height: 23px;
    font-size: 18px;
}
.text-intro-header {
    line-height: 30px;
    font-size: 18px;
}
.intro-header {
    padding-bottom: 50px;
    line-height: 38px;
}
.intro-header span {
    display: inline-block;
}
.intro-header span img {
    height: 16.5px;
}

.article {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 22px;
}
.header-article {
    font-family: 'FuturaDemiC', sans-serif;
    font-width: normal;
    margin-bottom: 5px;
}

.btn.btn-outline-bonus, .btn.btn-bonus {
    height: 46px;
    font-size: 18px;
    line-height: 1.55;
    border-width: 1px;
    border-radius: 0px;
    background-position: center center;
    border-color: #333f48;
    border-style: solid;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}
.btn.btn-outline-bonus.btn-gigantic {
    border-style: dotted;
}
.btn.btn-outline-bonus.btn-gigantic, .btn.btn-bonus.btn-gigantic {
    height: 100%;
    width: 98%;
    min-height: 150px;
    margin: 0;
    max-height: 50vh;
}
a.btn.btn-outline-bonus.btn-gigantic {
    display: grid;
    align-content: center;
}
.offcanvas .btn.btn-outline-bonus, .btn.btn-outline-bonus {
    width: 140px;
    color: #333f48;
    font-weight: 700;
    background-color: #f3f3f3;
}
.btn.btn-outline-bonus.btn-lighter {
    border-style: dotted;
    width: auto;
    padding: 10px 50px;
    font-size: 16px;
    margin: 0;
}
.btn.btn-outline-bonus:hover,
 #offcanvasLeft .offcanvas-header .btn.btn-outline-bonus:hover,
 #offcanvasCreateOrder .offcanvas-header .btn.btn-outline-bonus:hover {
    background-color: #E6E6E6;
}
.btn.btn-bonus {
    width: 180px;
    color: #fff;
    background-color: #333f48;
    border-color: transparent;
}
.btn.btn-bonus:hover {
    color: #fff;
    background-color: #414141;
}
.actions-bar .btn.btn-bonus {
    height: 60px;
}
.description-left {
    position: absolute;
    top: -30px;
    left: 50px;
    font-size: 17px;
}
.description-right {
    position: absolute;
    top: -30px;
    right: 50px;
    font-size: 17px;
}

.vh100 {
    height: 100vh;
    min-height: 600px;
}

#offcanvasLeft h2, #offcanvasCreateOrder h2 {
    font-size: 24px;
    font-family: FuturaMediumC;
    font-weight: bold;
}
#offcanvasLeft .offcanvas-body h2 {
    margin-bottom: 25px;
}
#offcanvasCreateOrder .offcanvas-header p {
    margin-bottom: 0;
 }
#offcanvasLeft .offcanvas-header .btn.btn-outline-bonus,
#offcanvasCreateOrder .btn.btn-outline-bonus, #offcanvasCreateOrderAction  .btn.btn-outline-bonus{
    border-style: dotted;
    font-size: 14px;
}

.offcanvas-body h3 {
    font-size: 16px;
    text-transform: uppercase;
    margin: 0;
}
.arrowUp {
    width: 21px;
}
.top-line-decorate {
    border-top: 1px solid #333f48;
}
.right-line-decorate {
    border-right: 1px solid #333f48;
}
.action{
    font-size: 32px;
    letter-spacing: -1.2px;
    font-family: FuturaMediumC;
}

.error-page h1{
    padding: 200px;
}
.background-transparent .modal-dialog {
    max-width: 800px;
}
.background-transparent .modal-body, .background-transparent .modal-header {
    padding: 0;
    border: 0;
}
.background-transparent .modal-content {
    background-color: transparent;
    box-shadow: none;
    border: 0;
}
.container-flex {
    display: flex;
    justify-content: space-between;
    width: auto;
}
.container-flex img {
    width: 100%;
    max-width: 400px;
    flex-shrink: 1;
}
.image-block {
    width: 180px;
}
.img-thumbnail {
    display: none;
}
.image-block .btn.btn-bonus {
    height: auto;
    width: auto;
    padding: 7px 15px;
    text-transform: lowercase;
}
.link-view {
border: none;
    background-color: transparent;
    height: 1em;
    padding: 0 20px;
}

#productSuggestions {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
    list-style-position: inside;
    padding:0;
}

#productSuggestions.above {
    bottom: 100%; /* Показывать сверху инпута */
    top: auto;
    margin-bottom: -27px;
}

#productSuggestions.below {
    top: 100%; /* Показывать снизу инпута */
    bottom: auto;
}
#productSuggestions li {
    padding: 0 15px;
}
#productSuggestions li:hover {
    background-color: yellow;
}

#profile.modal label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    margin-right: 10px;
}
#profile.modal input {
    font-size: 20px;
    max-width: 70%;
    letter-spacing: 1px;
}
@media (min-width: 1201px) {
    .btn.btn-outline-bonus {
        margin-right:10px
    }
}

@media (min-width: 1200px) {

    .image-block .btn.btn-close {
        position: absolute;
        top: -10px;
        right: -10px;
        width: 20px;
        height: 20px;
        background-color: #fff;
        padding: 3px;
        box-sizing: border-box;
        background-size: 55%;
        opacity: 0;
        border-radius: 50%;
        box-shadow: 0px 0px 2px rgba(153, 153, 153, 0.1), 0px 4px 12px rgba(153, 153, 153, 0.3);
        transition: opacity .1s ease-out, color .15s linear;
    }
    .image-block:hover .btn.btn-close {
        opacity: 0.8;
    }

    .offcanvas-custom-width .offcanvas-body,
    #offcanvasLeft, #offcanvasCreateOrder,  #offcanvasCreateOrderAction {
         padding-top: 15px;
    }
    .offcanvas.offcanvas-custom-width {
        width: 600px;
    }
    #offcanvasLeft {
        width: 500px;
    }
    #offcanvasCreateOrder, #offcanvasCreateOrderAction {
        width: 1200px;
    }

}

@media (max-width: 800px) {
    .container-flex {
        flex-direction: column;
    }
}
@media (max-width: 1199.98px) {

    .form-check.check-box {
        line-height: 14px;
    }
    .form-check.check-box label{
        line-height: inherit;
        display: inline-block;
        width: 97%;
        padding-top: 3px;
    }

    .success-message {
        width: 90%;
        top: 20%;
        left: 5%;
        padding: 20px;
    }

    .absolute-input {
      top: 60px;
      right: 8px;
    }

    .top-line-decorate, .right-line-decorate {
        border:none;
    }

    .description-left, .description-right{
        left: 0;
        right: auto;
        top: -25px;
    }

    .error-message {
        bottom: -20px;
        font-size: 12px;
    }
    .error-page h1{
        padding: 100px 20px;
    }
    #successOrderCreated {
        top: -40px;
        font-size: 16px;
        line-height: 1em;
    }

    .absolute-input > ul {
        inset: 0px 0 auto auto!Important;
        /*width: 650px;*/
        margin-top: 10px;
    }

    .form-control {
        padding: 15px 20px;
        font-size: 15px;
        line-height: 20px;
    }
    .form-label, .form-check-label {
        font-size: 12px;
        line-height: 12px;
        padding-left: 0px;
    }
    .form-check-input[type="radio"] {
        width: 15px;
        height: 15px;
    }

    .vh100 {
        height: calc(100vh - 120px);
    }

    .offcanvas-body {
        padding: 20px 25px 20px 25px;
    }

#offcanvasLeft, #offcanvasCreateOrder, #offcanvasCreateOrderAction,
    .offcanvas.offcanvas-custom-width {
        height: 100vh!Important;
        background-color: #f3f3f3;
        width: 100%;
    }
    .offcanvas.offcanvas-start {
        /*width: 100%;*/
    }
    .position-top-panel {
        position: relative;
    }
    .top-panel {
        width: calc(100% - 40px);
        margin-bottom: 0;
    }
    .logo {
      width: 100%;
      margin-bottom: 5px;
      margin-top: 20px;
    }
    .btn.btn-outline-bonus, .btn.btn-bonus {
        width: 98%;
    }
    .btn.btn-bonus.btn-gigantic, .btn.btn-outline-bonus.btn-gigantic  {
        width: 100%;
    }
    .welcome-page .btn.btn-outline-bonus.btn-lighter {
        height: auto;
        padding: 10px 70px;
        margin-top: 70px;
        margin-bottom: 70px;
    }
    #offcanvasCreateOrder h2 {
        margin-bottom: 5px;
        font-size: 21px;font-size:
    }
    #offcanvasCreateOrder p {
        font-size: 14px;
    }
    #offcanvasCreateOrder .btn.btn-outline-bonus {
        height: auto;
        margin-bottom: 25px;
    }
    #offcanvasLeft {
        background-color: #f3f3f3;
    }
    #offcanvasLeft .offcanvas-header .btn.btn-outline-bonus, #offcanvasLeft .offcanvas-header .btn.btn-bonus {
        height: 40px;
    }

    .offcanvas-body h3 {
        font-size: 15px;
    }
    .fullwidth, .container.fullwidth {
      padding-left: 15px;
      padding-right: 15px;
    }
    .text-intro {
        font-size: 16px;
        line-height: 20px;
    }
    .intro-header {
        font-size: 22px;
        line-height: 27px;
        font-weight: bold;
        text-align: center;
    }
    .intro-header span {
        display: block;
    }
    .intro-header span img {
        height: 18px;
    }

    .header-article {
       font-size: 26px;
       text-align: left;
       margin-bottom: 20px;
    }
    .article {
        font-size: 11px;
        margin-bottom: 5px;
        line-height: 18px;
    }
    .text-gigantic {
        font-size: 28px;
        letter-spacing: -1.0px;
    }
    .welcome-page h1 {
        font-size: 30px;
        font-weight: normal;
        line-height: 30px;
        margin-bottom: 40px;
        letter-spacing: 0;
    }
    .welcome-page .text-intro {
        max-width: 100%;
    }
    .top {
      height: calc(100vh - 100px);
      padding-top: 60px;
    }
    .prize {
        font-size: 10px;
    }
    .prize img {
        border: 1px dotted #888;
    }
    .actions-bar .btn.btn-bonus {
      height: 90px;
    }
    .image-block {
        width: 100%;
    }
    .image-block .img-thumbnail {
        float: left;
        margin: 0;
        padding: 0;
    }
    .image-block span {
        float: left;
        width: 80%;
        font-size: 14px;
        line-height: 14px;
        padding-left: 1%;
    }
    .offcanvas-body button.btn.removeImage {
        width: 4%;
        height: 4px;
    }
    .image-block .thumb {
        width: 14%;
    }

    .image-block .btn.btn-bonus {
        height: auto;
        width: auto;
        padding: 7px 15px;
        text-transform: lowercase;
    }

}

@media (max-width: 370px) {
    .description-left, .description-right{
        font-size: 15px;
    }
}
