<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="ru">
<head>
    <title>Кабинет</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.9/jquery.inputmask.min.js"></script>
    <script src="/js/getOrdersForUsers.js"></script>
    <script th:if="${#authorization.expression('isAuthenticated()')}" th:src="@{/js/updater.js}"></script>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
    <meta name="_csrf" data-th-content="${_csrf.token}"/>
    <meta name="_csrf_header" data-th-content="${_csrf.headerName}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div th:insert="~{fragments :: toprightpanel}" class="position-top-panel"></div>
<div class="d-flex flex-column justify-content-between">
    <div style="height: 200px">
    </div>
</div>
<div th:insert="~{fragmentsDashBoards :: UserDashBoard}"></div>


</body>
</html>