<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Fragments Example</title>
</head>
<body>
<!-- Фрагмент навигации -->
<div th:fragment="toprightpanel">
    <div class="d-flex">

        <div class="p-3 me-auto">
            <a th:href="@{/}">
                <img th:src="@{/images/logo.svg}" alt="Company Logo">
            </a>
        </div>


        <div class="p-3" sec:authorize="isAuthenticated()">
            <h2><span th:text="${welcome}"></span> <span th:text="${nameRole}"></span> <strong
                    th:text="${username}"></strong></h2>
            <form th:action="@{/logout}" method="post">
                <button type="submit" class="btn btn-outline-secondary">Выйти</button>
            </form>
        </div>
        <div sec:authorize="!isAuthenticated()" class="d-flex justify-content-end">
            <div class="p-3">
                <button class="btn btn-outline-secondary" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasInput" aria-controls="offcanvasRight">Вход
                </button>
            </div>
            <div class="p-3">
                <button class="btn btn-secondary" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasRegistry"
                        aria-controls="offcanvasRight">Регистрация
                </button>
            </div>
        </div>
    </div>

    <!-- Сообщение об ошибке -->
    <div th:if="${error}" class="alert alert-danger col-4 m-auto my-5 text-center" role="alert">
        <h3 th:text="${error}"></h3>
    </div>

</div>

<div th:fragment="inputform">
    <div class="offcanvas offcanvas-end offcanvas-custom-width" tabindex="-1" id="offcanvasInput"
         aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div id="user-data-input" class=" ">
                <form id="inputForm" action="#" th:action="@{${formInputUrl}}" method="post" class="mt-3">
                    <div class="">
                        <div class="mb-3">
                            <label for="emailInput" class="form-label">Email</label>
                            <input type="email" class="form-control" id="emailInput" name="username"
                                   placeholder="name@example.com" required>
                        </div>
                        <div class="mb-3">
                            <label for="passInput" class="form-label">Пароль</label>
                            <input type="password" class="form-control" name="password" id="passInput" required>
                        </div>
                        <!-- Сообщение об ошибке -->
                        <div id="errorInputMessage" class="alert alert-danger mt-3" role="alert" style="display: none;"
                             th:text="#{app.registr.un-succes-registr-user}">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary mt-3 m-auto">Войти</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div th:fragment="registerform">
    <div class="offcanvas offcanvas-end offcanvas-custom-width" tabindex="-1" id="offcanvasRegistry"
         aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div id="user-registration" class=" ">
                <form id="regForm" action="#" th:action="@{${formUrl}}" method="post" class="mt-3">
                    <div class="">
                        <input type="hidden" name="_csrf" value="${_csrf.token}"/>
                        <div class="mb-3">
                            <label for="emailReg" class="form-label">Email</label>
                            <input type="email" class="form-control" id="emailReg" placeholder="name@example.com"
                                   required>
                        </div>
                        <div class="mb-3">
                            <label for="fioInput" class="form-label">ФИО</label>
                            <input type="text" class="form-control" id="fioInput" required>
                        </div>
                        <div class="mb-3">
                            <label for="phoneInput" class="form-label">Телефон</label>
                            <input type="text" class="form-control" id="phoneInput" placeholder="+7 (999) 999-99-99"
                                   required>
                        </div>
                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="dataConsent" name="dataConsent"
                                   required>
                            <label class="form-check-label" for="dataConsent">Я согласен на обработку своих персональных
                                данных</label>
                        </div>
                        <!-- Сообщение об ошибке -->
                        <div id="errorMessage" class="alert alert-danger mt-3" role="alert" style="display: none;"
                             th:text="#{app.registr.un-succes-registr-user}">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary mt-3 m-auto">Зарегистрироваться</button>
                </form>
            </div>
        </div>
    </div>
    <!-- Сообщение об успешной отправке -->
    <div id="successMessage" class="alert alert-success mt-3" role="alert" style="display: none;"
         th:text="#{app.registr.succes-registr-user}">
    </div>
</div>

<div th:fragment="DashBoard" class="container">
    <!-- DashBoard для супер админа -->
    <div sec:authorize="hasRole('ROLE_SUPER_ADMIN')">
        <h2>DashBoard for SupperAdmin</h2>

        <table class="table">
            <thead>
            <tr>
                <th>ФИО</th>
                <th>Телефон</th>
                <th>Менеджер</th>
                <th>Роль</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${listUsers}">
                <td th:text="${user.fio}">1</td>
                <td th:text="${user.phone}">Product Name</td>
                <td th:text="${user.manager}">Value</td>
                <!-- Ссылка на модальное окно -->
                <td th:switch="${user.roles.role}">
                    <a href="#"
                       th:case="'ROLE_SUPER_ADMIN'"
                       th:attr="data-userid=${user.id}"
                       data-bs-toggle="modal"
                       data-bs-target="#editRoleModal">
                        <span class="badge bg-info" th:text="${user.roles.nameRole}"> </span>
                    </a>

                    <a href="#"
                       th:case="'ROLE_USER'"
                       th:attr="data-userid=${user.id}"
                       data-bs-toggle="modal"
                       data-bs-target="#editRoleModal">
                        <span class="badge bg-warning" th:text="${user.roles.nameRole}"> </span>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>

        <!-- Модальное окно -->
        <div class="modal fade" id="editRoleModal" tabindex="-1" aria-labelledby="editRoleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editRoleModalLabel">Установить Пользователю роль</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="editRoleForm" method="post" action="/changeRole">
                            <input type="hidden" id="userIdInput" name="userId" value=""/>
                            <div class="mb-3">
                                <label for="roleSelect" class="form-label">Роль</label>
                                <select class="form-select" id="roleSelect" name="role">
                                    <option th:each="role : ${listRoles}" th:value="${role.id}"
                                            th:text="${role.nameRole}"></option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary">Сохранить</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- DashBoard для админа -->
    <div sec:authorize="hasRole('ROLE_ADMIN')">
        <h2>DashBoard for Admin</h2>
    </div>

    <div th:fragment="DashBoard" class="container">
        <!-- DashBoard для пользователя -->
        <div sec:authorize="hasRole('ROLE_USER')">
            <h2>DashBoard for User</h2>
            <form id="orderForm" action="#" th:action="@{${formUrl}}" method="post" class="mt-3">
                <div class="">
                    <input type="hidden" name="_csrf" value="${_csrf.token}"/>
                    <div class="mb-3">
                        <label for="inn" class="form-label">ИНН Покупателя</label>
                        <input type="text" class="form-control" id="inn" required>
                    </div>
                    <div class="mb-3">
                        <label for="art" class="form-label">Артикул товара</label>
                        <input type="text" class="form-control" id="art" required>
                    </div>
                    <div class="mb-3">
                        <label for="numberInvoice" class="form-label">Номер счёта</label>
                        <input type="text" class="form-control" id="numberInvoice" required>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mt-3 m-auto">Отправить</button>
            </form>
        </div>
    </div>
</div>

<!-- Другие фрагменты можно добавлять тут -->
</body>
</html>