<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>DashBoards</title>
</head>
<body>

<!-- DashBoard для админа -->
<div th:fragment="AdminDashBoard" class="container">
    <h2>Кабинет администратора</h2>

    <ul class="nav nav-tabs" id="adminTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button id="admin-users-tab" class="nav-link active" data-bs-toggle="tab" data-bs-target="#admin-users" type="button"
                    role="tab" aria-controls="admin-users" aria-selected="true">Партнёры
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button id="admin-order-tab" class="nav-link" data-bs-toggle="tab" data-bs-target="#admin-order" type="button"
                    role="tab" aria-controls="admin-order" aria-selected="false">Заявки на Бонусы
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button id="admin-action-tab" class="nav-link" data-bs-toggle="tab" data-bs-target="#admin-action" type="button"
                    role="tab" aria-controls="admin-action" aria-selected="false">Участия в акциях
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button id="admin-check-invoice-tab" class="nav-link" data-bs-toggle="tab" data-bs-target="#admin-check-invoice" type="button"
                    role="tab" aria-controls="admin-check-invoice" aria-selected="false">Проверка счёта
            </button>
        </li>
    </ul>

    <div class="tab-content" id="adminTabContent">


        <div id="admin-users" class="tab-pane fade show active" role="tabpanel" aria-labelledby="admin-users-tab">
            <div class="container">
                <h3 class="mt-5">Список партнеров</h3>
                <table class="table">
                    <thead>
                    <tr>
                        <th>ФИО</th>
                        <th>Телефон</th>
                        <th>Менеджер</th>
                        <th>Роль</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user : ${listUsers}">
                        <td th:text="${user.fio}">1</td>
                        <td th:text="${user.phone}">Product Name</td>
                        <td th:text="${user.manager.fio}">Value</td>
                        <!-- Ссылка на модальное окно -->
                        <td>
                            <a href="#"
                               th:attr="data-userid=${user.id}"
                               data-bs-toggle="modal"
                               data-bs-target="#editRoleModal">
                                <span class="badge"
                                      th:classappend="${user.roles.role == 'ROLE_SUPER_ADMIN'} ? 'bg-info' : 'bg-warning'"
                                      th:text="${user.roles.nameRole}">
                                </span>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- Модальное окно -->
        <div class="modal fade" id="editRoleModal" tabindex="-1" aria-labelledby="editRoleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editRoleModalLabel">Установить роль пользователя</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="editRoleForm" method="post" action="/changeRole">
                            <input type="hidden" id="userIdInput" name="userId" value=""/>
                            <div class="mb-3">
                                <label for="roleSelect" class="form-label">Роль</label>
                                <select class="form-select" id="roleSelect" name="role">
                                    <option th:each="role : ${listRoles}" th:value="${role.id}"
                                            th:text="${role.nameRole}"></option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary">Сохранить</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div id="admin-order" class="tab-pane fade" role="tabpanel" aria-labelledby="admin-order-tab">
            <div class="container">
                <div>
                    <form id="filterOrderForm" class="mt-2">
                        <input type="hidden" name="type" value="bonus"/>
                        <div class="d-flex flex-wrap">
                            <div class="m-1 p-2 ms-0 ps-1 col-auto">
                                <label for="filterFio" class="form-label">Партнёр</label>
                                <input id="filterFio" class="form-control">
                            </div>
                            <div class="m-1 p-2 col-auto" >
                                <label for="filterManager" class="form-label">Менеджер</label>
                                <input id="filterManager" class="form-control">
                            </div>
                            <div class="m-1 p-2 col-auto" >
                                <label for="filterInvoice" class="form-label">Счет №</label>
                                <input id="filterInvoice" class="form-control">
                            </div>

                            <div class="m-1 p-2 col-auto">
                                <label for="filterStatus" class="form-label">Статус</label>
                                <select id="filterStatus" class="form-select" name="status">
                                    <option value="" selected>-- Выберите статус --</option>
                                    <option th:each="status : ${listOfStatus}" th:value="${status.id}"
                                            th:text="${status.name}"></option>
                                </select>
                            </div>
                            <div class="m-1 p-2 col-auto d-flex flex-column" style="background: rgba(255,255,255,0.5);/*! border-radius: 5px;">
                                <div class="">
                                    <label for="filterStartDate" class="form-label">Период</label>
                                </div>
                                <div class="d-flex">
                                    <div class="me-1 col-auto">
                                        <input type="date" id="filterStartDate" name="startDate" class="form-control">
                                    </div>
                                    <div class="ms-1 col-auto">
                                        <input type="date" id="filterEndDate" name="endDate" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="m-1 col-auto d-flex align-items-center">
                                <button type="submit" class="btn btn-sm btn-outline-secondary m-2 mt-auto">Применить фильтр</button>
                            </div>
                        </div>
                    </form>
                </div>

                <h3 class="mt-5">Список заявок</h3>
                <table class="table">
                    <thead>
                    <tr>
                        <th data-sort="id" class="sortable">ID</th>
                        <th data-sort="createDate" class="sortable">Дата</th>
                        <th data-sort="user" class="sortable">Партнер</th>
                        <th data-sort="sum" class="sortable">Сумма</th>
                        <th data-sort="status" class="sortable">Статус</th>
                        <th data-sort="manager" class="sortable">Менеджер</th>
                    </tr>
                    </thead>
                    <tbody id="adminOrdersTable">
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Модальное окно -->
        <div class="modal fade" id="editOrderModal" tabindex="-1" aria-labelledby="setStatusModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="setStatusModalLabel">ордер № <strong id="order-id"></strong> от <strong id="order-date"></strong></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div id="block-status-info" class="mb-3">
                            <p style="display:inline-block;">Статус:   <span id="order-status" class="badge"></span></p>
                            <button id="editStatusButton" class="btn btn-link btn-sm" style="font-weight: normal;">Изменить</button>
                        </div>
                        <form id="setStatus" method="post" action="order/set-status" style="display:none">
                            <div class="mb-5 p-3" style="display: block; background: rgba(0, 0, 0, 0.1);">
                                <label for="orderStatus" class="form-label">Изменить Статус</label>
                                <select id="orderStatus" class="form-select" name="status" style="background-color: rgba(255,255,255,0.5);">
                                    <option th:each="status : ${listOfStatus}" th:value="${status.id}"
                                            th:text="${status.name}"></option>
                                </select>
                                <button id="submitStatus" type="submit" class="btn btn-sm m-3 btn-outline-primary">Сохранить</button>
                                <button id="cancelEditStatus" type="button" class="btn btn-sm m-3 btn-secondary">Отменить</button>
                            </div>
                        </form>

                        <div id="block-payment-info" class="mb-3">
                            <p>Выплаты: </p>
                            <div id="payment-data" style="display: none;"></div>
                            <button id="addPaymentsButton" class="btn btn-link btn-sm" style="font-weight: normal;">Добавить выплату</button>
                        </div>
                        <form id="setPayment" class="d-none" action="payment/create">
                            <div class="mb-5 p-3" style="display: block; background: rgba(0, 0, 0, 0.1);">

                                <div class="d-flex">
                                    <div class="me-1 col-auto">
                                        <label for="orderPayment" class="form-label">Сумма выплаты</label>
                                        <input id="orderPayment" class="form-control" name="editOrder"
                                               required pattern="\d*" inputmode="numeric">
                                    </div>
                                    <div class="ms-1 col-auto">
                                        <label for="orderPaymentDate" class="form-label">Дата выплаты</label>
                                        <input type="date" id="orderPaymentDate" class="form-control">
                                    </div>
                                </div>

                                <div class="form-check d-flex align-items-center mt-2">
                                    <input class="form-check-input" type="checkbox" value="" id="checkSetStatusPayment" checked disabled>
                                    <label class="form-check-label ms-2" for="checkSetStatusPayment">
                                        Установить статус ордера как Выплачен
                                    </label>
                                </div>
                                <label for="commentPayment" class="form-label">Комментарий к оплате</label>
                                <textarea id="commentPayment" class="form-control" name="editOrder" rows="3"></textarea>
                                <button id="submitSetPayment" type="submit" class="btn btn-sm m-3 btn-outline-primary">Сохранить</button>
                                <button id="cancelSetPayment" type="button" class="btn btn-sm m-3 btn-secondary">Отменить</button>
                            </div>
                        </form>
                        <div class="mb-3">

                            <p>Партнер: <strong id="orderClient"></strong></p>
                            <p>Менеджер: <strong id="managerClient"></strong></p>
                            <p>Счёт №  <strong id="invoice-number"></strong> от  <strong id="invoice-date"></strong></p>
                            <p>Материал: <strong id="invoice-name-material"></strong> количество: <strong id="invoice-quantity-material"></strong></p>
                            <p>На сумму: <strong id="invoice-sum"></strong></p>
                            <p>Бонус: <strong id="bonus-bid"></strong> <b>%</b> Размер бонуса <strong id="bonus-value"></strong></p>
                            <p><strong >Информация для оплаты</strong> </br>
                            <span id="payment-info"></span></p>
                        </div>

                        <form id="setStatusModalForm" method="post" action="order/set-status" style="display:none">
                            <input id="orderInputId" type="hidden" />

                            <div class="mb-3" >
                                <label for="orderSum" class="form-label">Сумма бонуса</label>
                                <input id="orderSum" class="form-control popover-input" name="editOrder"
                                       required pattern="\d*" inputmode="numeric"
                                       data-bs-custom-class="custom-popover"
                                       data-bs-toggle="popover"
                                       data-bs-trigger="manual"
                                       data-bs-title="Изменить сумму"
                                       data-bs-content="Введите новую сумму бонуса">
                            </div>
                            <button type="submit" class="btn btn-primary">Сохранить</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div id="admin-action" class="tab-pane fade" role="tabpanel" aria-labelledby="admin-action-tab">
            <div class="container">
                <h3 class="mt-5">Список акций</h3>
            </div>
        </div>
        <div id="admin-check-invoice" class="tab-pane fade" role="tabpanel" aria-labelledby="admin-check-invoice-tab">
            <div class="container">
                <h3 class="mt-5">Проверка счёта</h3>
            </div>
        </div>
    </div>
</div>

<!-- DashBoard для менеджера -->
<div th:fragment="ManagerDashBoard" class="container">
    <h2>Кабинет менеджера</h2>
    <!-- Creator link to registration by manager -->
    <div sec:authorize="hasRole('ROLE_MANAGER')" >
        <div class="d-flex">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-outline-secondary ms-auto" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Ссылка для регистрации
            </button>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <form id="linkCreate" action="/api/get-link"  method="post" class="mt-3">
                            <div class="d-flex flex-column">
                                <button  id="createLink" type="submit" class="btn btn-outline-secondary mt-3" th:if="${!linkExists}">
                                    Сгенерировать ссылку
                                </button>
                                <div class="my-5">
                                    <input type="hidden" id="linkExistsValue" th:value="${linkExists}">
                                    <p id="textLinkToReg" th:text="${registeredLink}" ></p>
                                    <p id="limitLink" th:text="${limitLink}" style="color:red"></p>
                                </div>
                                <!-- Кнопка для копирования ссылки -->
                                <button type="button" id="copyLink" class="btn btn-secondary ml-2">Копировать в буфер</button>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- DashBoard to manager -->
        <!--        TABS-->
        <ul class="nav nav-tabs" id="managerTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button id="mng-users-tab" class="nav-link active" data-bs-toggle="tab" data-bs-target="#mng-users" type="button"
                        role="tab" aria-controls="mng-users" aria-selected="true">Партнёры
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button id="mng-order-tab" class="nav-link" data-bs-toggle="tab" data-bs-target="#mng-order" type="button"
                        role="tab" aria-controls="mng-order" aria-selected="false">Заявки на Бонусы
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="mng-action-tab" data-bs-toggle="tab" data-bs-target="#mng-action" type="button"
                        role="tab" aria-controls="mng-action" aria-selected="false">Участия в акциях
                </button>
            </li>
        </ul>
        <div class="tab-content" id="managerTabContent">
            <div id="mng-users" class="tab-pane fade show active" role="tabpanel" aria-labelledby="mng-users-tab">
                <div class="container">
                    <h3 class="mt-5">Ваши партнеры</h3>
                    <div th:insert="~{frags/fragmentsHtmlReports :: reportUsers}"></div>
                </div>
            </div>
            <div id="mng-order" class="tab-pane fade" role="tabpanel" aria-labelledby="mng-order-tab">
                <div class="container">
                    <h3 class="mt-5">Список поданных заявок на бонусы</h3>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Дата</th>
                            <th>Сумма</th>
                            <th>Статус</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody id="managerOrdersTable">
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="mng-action" class="tab-pane fade" role="tabpanel" aria-labelledby="mng-action-tab">
                <div class="container">
                    <h3 class="mt-5">Список поданных заявок на участие в акциях</h3>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Дата</th>
                            <th>Статус</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody id="managerActionsTable">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Модальное окно -->
    <div class="modal fade" id="viewUsersOrdersDetails" tabindex="-1" aria-labelledby="viewUsersOrdersDetailsLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="viewUsersOrdersDetailsLabel">Детали</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Загружаю...
                </div>
            </div>
        </div>
    </div>
</div>

<!-- DashBoard для пользователя -->
<div th:fragment="UserDashBoard" class="container">
    <div sec:authorize="hasRole('ROLE_USER')" th:fragment="DashBoard" class="container">
        <h2>Личный кабинет</h2>
        <ul class="nav nav-tabs mb-3" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button"
                        role="tab" aria-controls="home" aria-selected="true">Заявки на бонусы
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="action-tab" data-bs-toggle="tab" data-bs-target="#action" type="button"
                        role="tab" aria-controls="action" aria-selected="false">Участие в акциях
                </button>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="container">
                    <h3>Заявки на бонусы</h3>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Дата</th>
                            <th>Сумма</th>
                            <th>Статус</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody id="ordersTable">
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade" id="action" role="tabpanel" aria-labelledby="action-tab">
                <div class="container">
                    <h3>Участия в акциях</h3>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Дата</th>
                            <th>Статус</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody id="actionsTable">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Модальное окно -->
        <div class="modal fade" id="viewDetails" tabindex="-1" aria-labelledby="viewDetailsLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="viewDetailsLabel">Детали</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Загружаю...
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>